In [1]:
!pip install selenium

Requirement already satisfied: selenium in ./opt/anaconda3/lib/python3.9/site-packages (4.11.2)
Requirement already satisfied: trio-websocket~=0.9 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.10.3)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (2022.9.24)
Requirement already satisfied: trio~=0.17 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.22.2)
Requirement already satisfied: sortedcontainers in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: sniffio in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in ./opt/anaconda3/lib/python3.9/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in ./opt/anaconda3/lib/python3.9/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in ./opt/anaconda3/lib/python3.9/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [54]:
# let's import all the necessary libraries

import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [55]:
driver = webdriver.Chrome()

In [56]:
# opening the shine page on automated 
driver.get('https://www.shine.com/')

In [27]:
# entering designation and location as required in the question-

title_skills = driver.find_element(By.CLASS_NAME, "form-control ")
title_skills.send_keys('Data Analyst')

In [28]:
location = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [29]:
search = driver.find_element(By.XPATH, '/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [8]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [9]:
# scraping job titles

title_class = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_features__wJid6"]')
for i in title_class[0:10]:
    title = i.text
    job_title.append(title)

In [10]:
# scraping job locations

location_class = driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_class[0:10]:
    location = i.text
    job_location.append(location)

In [11]:
# scraping company names

c_name_class = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in c_name_class[0:10]:
    c_name = i.text
    company_name.append(c_name)

In [12]:
# scraping experience required

exp_class = driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exp_class[0:10]:
    experience = i.text
    experience_required.append(experience)

In [13]:
print(len(job_title), len(job_location), len(company_name), len(experience_required))

10 10 10 10

In [14]:
import pandas as pd

d_a_banglore = pd.DataFrame({'job_title' : job_title, 'location' : job_location, 'company_name' : company_name, 'experience_required' : experience_required})
d_a_banglore

,job_title,location,company_name,experience_required
0,Hot\n2 days ago,Bangalore,futures and careers,2 to 4 Yrs
1,6 days ago,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
2,,Bangalore,,
3,,,,
4,,Bangalore,,
5,,Bangalore,,
6,,,,
7,,,,
8,,,,
9,,,,

In [ ]:
# Question 2

In [32]:
# entering designation and location as required in the question-

title = driver.find_element(By.CLASS_NAME, "form-control ")
title.send_keys('Data Scientist')

In [33]:
location1 = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location1.send_keys('Bangalore')

In [34]:
search1 = driver.find_element(By.XPATH, '/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search1.click()

In [35]:
job_title1 = []
job_location1 = []
company_name1 = []

In [45]:
# scraping job titles

title_class1 = driver.find_elements(By.XPATH, '//a[@class="jobCard_jobCard_features__wJid6"]')
for i in title_class1[0:10]:
    title = i.text
    job_title1.append(title)

In [42]:
# scraping job locations

location_class1 = driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_class1[0:10]:
    location = i.text
    job_location1.append(location)

In [40]:
# scraping company names

c_name_class1 = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in c_name_class1[0:10]:
    c_name = i.text
    company_name1.append(c_name)

In [46]:
print(len(job_title1), len(job_location1), len(company_name1))

20 20 20

In [130]:
import pandas as pd

d_a_banglore = pd.DataFrame({'job_title' : job_title1, 'location' : job_location1, 'company_name' : company_name1})
d_a_banglore

          job_title        location                            company_name
0   Hot\n0 days ago  Bangalore\n+17                kavya staffing solutions
1    Hot\n1 day ago  Bangalore\n+17                kavya staffing solutions
2        5 days ago       Bangalore                     skyleaf consultants
3       2 weeks ago  Bangalore\n+14                       divya interprises
4        1 week ago       Bangalore       deuglo infosystem private limited
5        1 week ago   Bangalore\n+8       deuglo infosystem private limited
6       2 weeks ago       Bangalore  seven geomax consulting private lim...
7       2 weeks ago       Bangalore  employberry consultants hiring for ...
8       3 weeks ago  Bangalore\n+15                    niharika enterprises
9        1 week ago   Bangalore\n+8       deuglo infosystem private limited
10  Hot\n0 days ago  Bangalore\n+17                kavya staffing solutions
11   Hot\n1 day ago  Bangalore\n+17                kavya staffing solutions
12       5 days ago       Bangalore                     skyleaf consultants
13      2 weeks ago  Bangalore\n+14                       divya interprises
14       1 week ago       Bangalore       deuglo infosystem private limited
15       1 week ago   Bangalore\n+8       deuglo infosystem private limited
16      2 weeks ago       Bangalore  seven geomax consulting private lim...
17      2 weeks ago       Bangalore  employberry consultants hiring for ...
18      3 weeks ago  Bangalore\n+15                    niharika enterprises
19       1 week ago   Bangalore\n+8       deuglo infosystem private limited

In [48]:
d_a_banglore[0:10]

         job_title        location                            company_name
0  Hot\n0 days ago  Bangalore\n+17                kavya staffing solutions
1   Hot\n1 day ago  Bangalore\n+17                kavya staffing solutions
2       5 days ago       Bangalore                     skyleaf consultants
3      2 weeks ago  Bangalore\n+14                       divya interprises
4       1 week ago       Bangalore       deuglo infosystem private limited
5       1 week ago   Bangalore\n+8       deuglo infosystem private limited
6      2 weeks ago       Bangalore  seven geomax consulting private lim...
7      2 weeks ago       Bangalore  employberry consultants hiring for ...
8      3 weeks ago  Bangalore\n+15                    niharika enterprises
9       1 week ago   Bangalore\n+8       deuglo infosystem private limited

In [ ]:
# Question3

In [51]:
# entering title as required in the question-

title1 = driver.find_element(By.CLASS_NAME, " ")
title1.send_keys('Data Scientist')

In [53]:
search2 = driver.find_element(By.XPATH, '')
search2.click()

In [ ]:
# for the question above, I am unable to see “Skill, Designations, and Companies” field

In [ ]:
# Question 4

In [114]:
driver = webdriver.Chrome()

In [73]:
# opening the shine page on automated  
driver.get('http://www.flipkart.com/')

In [74]:
# entering sunglasses as required in the question-

sunglass = driver.find_element(By.CLASS_NAME, "Pke_EE")
sunglass.send_keys('sunglasses')

In [75]:
search3 = driver.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button')
search3.click()

In [96]:
# scrapping the 100 first brands

brands = []

start = 0
end = 4

for page in range(start, end):
    brand = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in brand:
        brands.append(i.text)
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    if len(brands)==100:
        break

In [97]:
# scrapping the 100 first product descriptions

describe = []

start = 0
end = 4

for page in range(start, end):
    describ = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in describ:
        describe.append(i.text)
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    if len(describe)==100:
        break

In [98]:
# scraping the 100 first prices

prices = []

start = 0
end = 4

for page in range(start, end):
    price = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for i in price:
        prices.append(i.text)
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    if len(prices)==100:
        break

In [99]:
print(len(brands), len(describe), len(prices))

146 160 160

In [100]:
new_brands = brands[0:100]

In [101]:
new_describe = describe[0:100]

In [102]:
new_prices = prices[0:100]

In [103]:
print(len(new_brands), len(new_describe), len(new_prices))

100 100 100

In [111]:
# the first 100 sunglasses dataframe
sunglas_100 = pd.DataFrame({'description' : new_brands, 'brand' : new_describe, 'price' : new_prices})
sunglas_100

                                          description           brand   price
0   UV Protection Rectangular, Retro Square Sungla...       ROYAL SON    ₹497
1               UV Protection Aviator Sunglasses (58)          OCHILA    ₹206
2   UV Protection Retro Square Sunglasses (Free Size)      iCopertina    ₹219
3   Gradient, UV Protection Wayfarer Sunglasses (F...        Fastrack    ₹699
4   Polarized, Riding Glasses Sports, Wrap-around ...  ROZZETTA CRAFT    ₹497
..                                                ...             ...     ...
95            UV Protection Butterfly Sunglasses (65)        Fastrack    ₹749
96      UV Protection Wayfarer Sunglasses (Free Size)       ROYAL SON  ₹1,799
97  Riding Glasses, UV Protection Aviator Sunglass...       ROYAL SON    ₹551
98  Polarized, Riding Glasses, UV Protection Wrap-...        aferelle    ₹499
99              UV Protection Aviator Sunglasses (58)        BABYMOON    ₹183

[100 rows x 3 columns]

In [ ]:
# Question 5

In [115]:
# opening the shine page on automated  
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product- reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART')

In [ ]:
# opening the shine page on automated  
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-')

In [ ]:
# I have tried the two links above but none is working

In [ ]:
# Question 6

In [116]:
driver = webdriver.Chrome()

In [117]:
#  
driver.get('http://www.flipkart.com/')

In [118]:
# entering sunglasses as required in the question-

sunglass = driver.find_element(By.CLASS_NAME, "_3704LK")
sunglass.send_keys('sneakers')

In [119]:
search3 = driver.find_element(By.XPATH, '/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search3.click()

In [120]:
brand1 = []
describe1 = []
price1 = []

In [121]:
# scrapping the 100 first brands

brand1 = []

start = 0
end = 4

for page in range(start, end):
    brand = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in brand:
        brand1.append(i.text)
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)
    if len(brand1)==100:
        break

In [122]:
describe1 = []

start = 0
end = 4

for page in range(start, end):
    describ = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in describ:
        describe1.append(i.text)
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)
    if len(describe1)==100:
        break

In [124]:
# scraping the 100 first prices

price1 = []

start = 0
end = 4

for page in range(start, end):
    price = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for i in price:
        price1.append(i.text)
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)
    if len(price1)==100:
        break

In [125]:
print(len(brand1), len(describe1), len(price1))

160 139 160

In [126]:
new_brand1 = brand1[0:100]

In [127]:
new_describe1 = describe1[0:100]

In [128]:
new_price1 = price1[0:100]

In [129]:
print(len(new_brand1), len(new_describe1), len(new_price1))

100 100 100

In [132]:
# the first 100 sneaks dataframe
sneak_100 = pd.DataFrame({'brand' : new_brand1, 'description' : new_describe1, 'price' : new_price1})
sneak_100

           brand                                        description   price
0         Airson  Men's Shoes | Casual Shoes | Sports Shoes Snea...    ₹833
1   K- FOOTLANCE               Modern Trendy Shoes Sneakers For Men  ₹4,679
2         BRUTON                                   Sneakers For Men    ₹379
3       Nobelite                              Buzz Sneakers For Men    ₹299
4           PUMA                  Rebound LayUp SL Sneakers For Men  ₹3,599
..           ...                                                ...     ...
95         Sparx                                   Sneakers For Men    ₹562
96       El Paso                                   Sneakers For Men    ₹379
97         Zixer                   Hustle V2 Women Sneakers For Men  ₹1,485
98    Free Kicks                      CLUB CULTURE Sneakers For Men    ₹599
99          PUMA                                   Sneakers For Men  ₹1,508

[100 rows x 3 columns]

In [133]:
driver = webdriver.Chrome()

In [ ]:
# Question 7

In [134]:
#  
driver.get('http://www.amazon.in/')

In [ ]:
# entering CPU as required in the question-

cpu = driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
cpu.send_keys('Intel Core i7')

In [140]:
search4 = driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search4.click()

In [142]:
# scrapping the 10 first titles

titles = []
title = driver.find_elements(By.XPATH, '//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title[0:10]:
    title = i.text
    titles.append(title)

In [143]:
# scrapping the 10 first ratings
ratings = []
rating = driver.find_elements(By.XPATH, '//span[@class="a-size-base puis-normal-weight-text"]')
for i in rating[0:10]:
    rate = i.text
    ratings.append(rate)

In [165]:
# scrapping the 10 first prices
price_1 = []
pric = driver.find_elements(By.XPATH, '//span[@class="a-price"]')
for i in pric[0:10]:
    pric_ = i.text
    price_1.append(pric_)

In [166]:
print(len(titles), len(ratings), len(price_1))

10 10 10

In [167]:
# 10 first laptops, dataframe

df = pd.DataFrame({'title' : titles, 'rating' : ratings, 'price' : price_1})
df

                                               title rating    price
0  Intel Core i7 12700 12th Gen Generation Deskto...    4.6  ₹30,499
1  Intel Core i7-13700K Desktop Processor 16 core...    4.8  ₹39,999
2  Intel Core i7 12700 12th Gen Generation Deskto...    4.6  ₹30,499
3  Intel Core i7-12700K Desktop Processor 12 (8P+...    4.8  ₹32,600
4  Intel Core i7-11700F 11th Gen Generation Deskt...    4.6  ₹22,700
5                Intel - Core i7 3770 Processor TRAY    4.2   ₹5,999
6  Intel Core i7-10700K Desktop Processor 8 Cores...    4.8  ₹39,999
7  Intel® Core™ i7-10700F Desktop Processor 16M C...    4.7  ₹20,995
8  Intel® Core™ i7-13700F Processor 30M Cache, up...    4.4  ₹39,000
9  Intel® Core™ i7-9700F Processor (12M Cache, up...    4.7  ₹32,999

In [ ]:
# Question 10

In [186]:
driver = webdriver.Chrome()

In [187]:
driver.get('https://www.motor1.com/')

In [190]:
# entering 50 expensive cars as required in the question-

cars = driver.find_element(By.CLASS_NAME, 'm1-search-panel-input m1-search-form-text')
quote.send_keys('50 most expensive cars')

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".m1-search-panel-input m1-search-form-text"}
  (Session info: chrome=116.0.5845.110); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
0   chromedriver                        0x00000001030da65c chromedriver + 4318812
1   chromedriver                        0x00000001030d2d00 chromedriver + 4287744
2   chromedriver                        0x0000000102d047ec chromedriver + 296940
3   chromedriver                        0x0000000102d42048 chromedriver + 548936
4   chromedriver                        0x0000000102d7ad28 chromedriver + 781608
5   chromedriver                        0x0000000102d36178 chromedriver + 500088
6   chromedriver                        0x0000000102d36fc0 chromedriver + 503744
7   chromedriver                        0x000000010309ac40 chromedriver + 4058176
8   chromedriver                        0x000000010309f160 chromedriver + 4075872
9   chromedriver                        0x0000000103062e68 chromedriver + 3829352
10  chromedriver                        0x000000010309fc4c chromedriver + 4078668
11  chromedriver                        0x0000000103077f08 chromedriver + 3915528
12  chromedriver                        0x00000001030bc140 chromedriver + 4194624
13  chromedriver                        0x00000001030bc2c4 chromedriver + 4195012
14  chromedriver                        0x00000001030cc4d0 chromedriver + 4261072
15  libsystem_pthread.dylib             0x000000019857bfa8 _pthread_start + 148
16  libsystem_pthread.dylib             0x0000000198576da0 thread_start + 8

In [ ]:
search4 = driver.find_element(By.XPATH, '/html/body/div[8]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search4.click()